# Entornos virtuales
.env
.venv
env/
venv/

# Archivos de caché
__pycache__/
*.py[cod]
*$py.class

# Archivos de instalación y distribución
build/
dist/
*.egg-info/

# Archivos de cobertura y pruebas
.coverage
.tox/
.nox/
.pytest_cache/
htmlcov/
