<!DOCTYPE html>
<html lang="en">
    <head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Inicio</a>
            <a class="nav-item nav-link active" href="/equipo">Equipo</a>
            <a class="nav-item nav-link active" href="/modelo">Modelo</a>
            <a class="nav-item nav-link active" href="/marca">Marca</a>
            <a class="nav-item nav-link active" href="/fabricante">Fabricante</a>
            <a class="nav-item nav-link active" href="/caracteristicas">Característica</a>
            <a class="nav-item nav-link active" href="/stock">Stock</a>
            <a class="nav-item nav-link active" href="/proveedor">Proveedor</a>
            <a class="nav-item nav-link active" href="/accesorio">Accesorio</a>
        </div>
    </nav>
        {% block content %}
        {% endblock %}
</body>
</html>